<nav>
  <a href="/">ETET</a>
  <div id="navbarNav">
    <ul >
      <li>
        <a href="/">Dashboard</a>
      </li>
      <li>
        <a href="/activity">My Activity</a>
      </li>
    </ul>
  </div>
</nav>