<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">ETET</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/activity">My Activity</a>
      </li>
    </ul>
  </div>
</nav>