.red {
    color: red;
}

.green {
    color: green;
}

.link{
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.strikethrough {
    position: relative;
  }

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    
    -webkit-transform:rotate(-15deg);
    -moz-transform:rotate(-15deg);
    -ms-transform:rotate(-15deg);
    -o-transform:rotate(-15deg);
    transform:rotate(-15deg);
}

.changeCursor{
    cursor: pointer;
}

.barChart {
    height: 20em;
    text-align: -webkit-center !important;
}

.comment-modal{
    max-width: 8.5em;
}